{% extends 'base.html.twig' %}

{% block title %}Trello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="header-wrapper">
    <span>Welcome to shitty Trello</span>
</div>

{% endblock %}
