{% extends 'base.html.twig' %}

{% block title %}Edit Wishlist{% endblock %}

{% block body %}
    <h1>Edit Wishlist</h1>

    {{ include('wishlist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wishlist_index') }}">back to list</a>

    {{ include('wishlist/_delete_form.html.twig') }}
{% endblock %}