{% extends 'base.html.twig' %}

{% block title %}New Wishlist{% endblock %}

{% block body %}
    <h1>Create new Wishlist</h1>

    {{ include('wishlist/_form.html.twig') }}

    <a href="{{ path('wishlist_index') }}">back to list</a>
{% endblock %}